@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");

//Variables

//Colors
$almostWhite: #fffdfa;
$darkSpaceBlue: #00001a;
$gunmetal: #5e607a;
$lightVermillion: #f15d51;
$silver: #c5c6ce;
$yellow: #e9aa52;

//Font
$mainFont: "Inter", sans-serif;
